h1 {
    font-family:copperplate;
    text-align: left;
    color:rgb(68, 66, 70)
}

h2{
    font-family: copperplate;
    text-align: center;
    color: rgb(68, 66, 70);
    margin-top: 160px;
}

body {
    background-color:white;
    background-size: cover;
    }

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}